# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:3000"

# Supabase Configurations
VITE_SUPABASE_URL=https://epornrpdkltlhjskbgwa.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_uyS5JazP-WQIRXckrLQmmg_0A6nUd54
VITE_SUPABASE_ANON_KEY=sb_publishable_uyS5JazP-WQIRXckrLQmmg_0A6nUd54
